.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.imageContainer {
  width: 100%;
  margin-bottom: 20px;
  
}

.mainImage {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buildingList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.buildingItem {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  border: none;
  text-align: left;
  flex-direction: column;
}

.buildingItem:hover {
  background-color: #f0f0f0;
}

.buildingThumbnail {
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
